@import '../../App';

.bottom-border {
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
    height: 3px;
}

.Destination {
    background-image: url('../images/background-destination-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    div.container {
        display: flex;
        justify-content: space-around;
        img {
            margin-top: 70px;
        }
    }
    section.intro {
        width: 445px;
        margin-top: 174px;
        margin-bottom: 118px;
        p {
            line-height: 32px;
            color: $blue-color;
            margin: 0 auto 54px;
        }
    }
    div.details {
        display: flex;
        justify-content: flex-start;
        text-transform: uppercase;
        > div:first-child {
            margin-right: 79px;
        }
        div.property {
            @extend .sub-heading2;
            color: $blue-color;
            margin: 28px auto 12px;
        }
        div.value {
            @extend .sub-heading1;
        }
    }
    ul.menu {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        li {
            margin-right: 36px;
            cursor: pointer;
            padding-bottom: 12px;
            color: $blue-color;
            text-transform: uppercase;
            position: relative;
            &.active:after {
                @extend .bottom-border;
                background-color: $white-color;
                width: 100%;
            }
            &:after {
                @extend .bottom-border;
                width: 0;
                left: 50%;
                transition: all 0.3s ease;
            }
            &:hover:not(.active):after {
                @extend .bottom-border;
                background-color: $dark-color;
                left: 0;
                width: 100%;
            }
        }
    }
    h2 {
        margin: 37px auto 14px;
        text-transform: uppercase;
    }
    hr {
        color: #383b4b;
        margin-bottom: 28px;
    }
}

@media (max-width: 1100px) {
    .Destination div.container {
        padding: 0 20px;
        img {
            margin-right: 20px;
        }
    }
}

@media (max-width: 850px) {
    .Destination {
        background-image: url('../images/background-destination-tablet.jpg');
        background-position: center;
        div.container {
            display: block;
            padding: 0;
            img {
                margin: 32px auto 47px;
                display: block;
            }
        }
        section.intro {
            width: 70%;
            margin: 0 auto;
            text-align: center;
            p {
                margin-bottom: 49px;
                line-height: 28px;
            }
        }
        ul.menu,
        div.details {
            justify-content: center;
            margin-bottom: 62px;
        }
        h2 {
            margin: 32px auto 8px;
        }
        hr {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 450px) {
    .Destination {
        div.container {
            img {
                width: 80%;
            }
        }
        div.details {
            display: block;
            margin-bottom: 58px;
            > div:first-child {
                margin-right: 0;
            }
        }
    }
}
