@import '../../App';

.bottom-border {
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
    height: 3px;
}

.Destination {
    background-image: url('../images/background-destination-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    div.container {
        display: flex;
        justify-content: space-around;
        img {
            margin-top: 70px;
        }
    }
    section.intro {
        width: 445px;
        margin-top: 174px;
        margin-bottom: 118px;
        p {
            line-height: 32px;
            color: $blue-color;
            margin: 0 auto 54px;
        }
    }
    div.details {
        display: flex;
        justify-content: flex-start;
        text-transform: uppercase;
        > div:first-child {
            margin-right: 79px;
        }
        div.property {
            @extend .sub-heading2;
            color: $blue-color;
            margin: 28px auto 12px;
        }
        div.value {
            @extend .sub-heading1;
        }
    }
    ul.menu {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        li {
            margin-right: 36px;
            cursor: pointer;
            padding-bottom: 12px;
            color: $blue-color;
            text-transform: uppercase;
            position: relative;
            &.active:after {
                @extend .bottom-border;
                background-color: $white-color;
                width: 100%;
            }
            &:after {
                @extend .bottom-border;
                width: 0;
                left: 50%;
                transition: all 0.3s ease;
            }
            &:hover:not(.active):after {
                @extend .bottom-border;
                background-color: $dark-color;
                left: 0;
                width: 100%;
            }
        }
    }
    h1 {
        @extend .heading5;
        color: $white-color;
        margin-top: 76px;
        span.num {
            color: $dark-color;
            margin-right: 28px;
        }
    }
    h2 {
        margin: 37px auto 14px;
        text-transform: uppercase;
    }
    hr {
        color: #383b4b;
        margin-bottom: 28px;
    }
    .fade {
        animation: fadein 1s ease-in-out;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
