@import '../../App';

header {
    nav {
        display: flex;
        justify-content: center;
        > * {
            flex-grow: 1;
        }
    }
    ul {
        display: flex;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7742px);
        margin: 40px 0 0;
        width: auto;
    }
    li {
        list-style-type: none;
        margin: 39px 24px 38px;
        @include heading-font(16px, 'BarlowCondensed-Regular', 2.7px);
        span.num {
            margin-right: 12px;
        }
    }
    a {
        text-decoration: none;
        padding: 2px 0;
        position: relative;
        span.num {
            font-weight: bold;
        }
        &.active:after {
            content: '';
            position: absolute;
            left: 0;
            top: 55px;
            height: 3px;
            background-color: $white-color;
            width: 100%;
        }
    }
    div.line {
        width: 27%;
        height: 1px;
        background-color: $dark-color;
        margin-top: 88px;
        position: relative;
        left: 2%;
        z-index: 2;
    }
    div.logo {
        margin: 64px 0 0 55px;
    }
}
