@import '../../App';

.Technology {
    background-image: url('../images/background-technology-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    div.container {
        display: flex;
        justify-content: end;
        .terminology {
            @extend .nav-text;
            color: $blue-color;
            text-transform: uppercase;
        }
        h3 {
            text-transform: uppercase;
        }
        p {
            line-height: 32px;
            color: $blue-color;
        }
        div.img {
            margin-top: 50px;
            margin-bottom: 101px;
        }
        div.text {
            width: 600px;
            margin-right: 130px;
        }
        div.content {
            display: flex;
            justify-content: space-around;
            margin-top: 137px;
        }
        ul.menu {
            list-style-type: none;
            margin-right: 80px;
            padding-left: 0;
            li {
                font-size: 32px;
                font-family: 'Bellefair';
                color: $white-color;
                mix-blend-mode: normal;
                border: 1px solid $white-color;
                box-sizing: border-box;
                width: 80px;
                height: 80px;
                border-radius: 80px;
                text-align: center;
                line-height: 76px;
                mix-blend-mode: normal;
                opacity: 0.25;
                cursor: pointer;
                margin-bottom: 32px;
                transition: all 0.3s ease-out;
                &.active {
                    background-color: $white-color;
                    color: $black-color;
                    opacity: 1;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    h1.step {
        margin-left: 104px;
    }
}

@media (max-width: 850px) {
    .Technology {
        background-image: url('../images/background-technology-tablet.jpg');
        div.container {
            flex-direction: column-reverse;
            div.text {
                width: 100%;
                text-align: center;
                margin-right: 0;
            }
            div.content {
                margin-top: 0;
                flex-direction: column;
            }
            ul.menu {
                display: flex;
                justify-content: center;
                margin: 0 auto;
                li {
                    width: 58px;
                    height: 58px;
                    font-size: 24px;
                    line-height: 63px;
                    margin: 0 8px 44px;
                }
            }
            div.img {
                margin: 60px auto 56px;
                width: 100%;
                img {
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                }
            }
            p {
                padding: 0 120px 60px;
            }
        }
    }
}

@media (max-width: 470px) {
    .Technology {
        background-image: url('../images/background-technology-mobile.jpg');
        div.container {
            div.terminology {
                font-size: 14px;
            }
        }
    }
}
