@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

$black-color: #0b0d17;
$blue-color: #d0d6f9;
$white-color: #fff;
$dark-color: #979797;

body {
    background-color: $black-color;
}

@mixin heading-font($size, $family, $letter-spacing: false) {
    font-size: $size;
    font-family: $family;
    @if $letter-spacing {
        letter-spacing: $letter-spacing;
    }
    color: $white-color;
}

.heading1 {
    @include heading-font(150px, 'Bellefair');
}
.heading2 {
    @include heading-font(100px, 'Bellefair');
}
.heading3 {
    @include heading-font(56px, 'Bellefair');
}
.heading4 {
    @include heading-font(32px, 'Bellefair');
}
.heading5 {
    @include heading-font(28px, 'Barlow Condensed', 4.75px);
    color: $blue-color;
}

.sub-heading1 {
    @include heading-font(28px, 'Bellefair');
}
.sub-heading2 {
    @include heading-font(14px, 'Barlow Condensed', 2.35px);
}
.nav-text {
    @include heading-font(16px, 'Barlow Condensed', 2.7px);
}
.body-text {
    @include heading-font(18px, 'Barlow');
}
.hover-nav {
    border: 3px solid $dark-color;
}
h1 {
    @extend .heading1;
}
h2 {
    @extend .heading2;
}
h3 {
    @extend .heading3;
}
h4 {
    @extend .heading4;
}
h5 {
    @extend .heading5;
}

p {
    @extend .body-text;
}
* {
    color: $white-color;
}

h1.step {
    @extend .heading5;
    color: $white-color;
    margin-top: 76px;
    text-transform: uppercase;
    span.num {
        color: $dark-color;
        margin-right: 28px;
    }
}

.fade {
    animation: fadein 1s ease-in-out;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 470px) {
    h1 {
        font-size: 80px;
    }
    h5 {
        font-size: 16px !important;
    }
    p {
        font-size: 15px !important;
    }
}
